@import 'op.css';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  --bg-dim: #1E2326;
  --bg0: #272E33;
  --bg1: #2E383C;
  --bg2: #374145;
  --bg3: #414B50;
  --bg4: #495156;
  --bg5: #4F5B58;
  --bg-visual: #4C3743;
  --bg-red: #493B40;
  --bg-green: #3C4841;
  --bg-blue: #384B55;
  --bg-yellow: #45443C;
  --grey0: #7A8478;
  --grey1: #859289;
  --grey2: #9DA9A0;
  --fg: #D3C6AA;
  --red: #E67E80;
  --orange: #E69875;
  --yellow: #DBBC7F;
  --green: #A7C080;
  --aqua: #83C092;
  --blue: #7FBBB3;
  --purple: #D699B6;
  --statusline1: #a7C080;
  --statusline2: #D3C6AA;
  --statusline3: #E67E80;

  @media (prefers-color-scheme: light) {
    --bg-dim: #F2EFDF;
    --bg0: #FFFBEF;
    --bg1: #F8F5E4;
    --bg2: #F2EFDE;
    --bg3: #EDEADA;
    --bg4: #E8E5D5;
    --bg5: #BEC5B2;
    --grey0: #A6B0A0;
    --grey1: #939F91;
    --grey2: #829181;
    --fg: #5C6A72;
    --red: #F85552;
    --orange: #F57D26;
    --yellow: #DFA000;
    --green: #8DA101;
    --aqua: #35A77C;
    --blue: #3A94C5;
    --purple: #DF69BA;
    --statusline1: #93B259;
    --statusline2: #708089;
    --statusline3: #E66868;
  } 
 
  --animation-speed: 0.5s;
  --animation-delay-scaling: 0.75s;
  color: var(--fg);
  background-color: var(--base00);
}

a {
  color: var(--blue);

  :visited {
    color: var(--purple);
  }
}


h1,h2,h3,h4,h5,h6 {
  color: var(--green);
  font: var(--font-mono);
  line-height: var(--font-lineheigth-1);
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > * {
     margin-block: 0;
  }

  > * + * {
    margin-block-start: var(--size-03);
  }
}

.box {
  padding: var(--size-03);

  & * {
    color: inherit;
  }

  .bordered {
    border: var(--border-size-1) solid var(--base01);
  }
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--size-content-3);
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-05);
  justify-content: flex-start;
  align-items: center;
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-03);

  > :first-child {
    flex-grow: 1;
  }

  > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
  }
}


.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-03);

  * {
    flex-grow: 1;
    flex-basis: calc(( var(--size-content-1) - 100%) * 999);
  }

  :nth-last-child(n+5),
  :nth-last-child(n+5) ~ * {
    flex-basis: 100%;
  }
}

.grid {
  display: grid;
  grid-gap: 1rem;

  @supports (width: min(var(--size-xxs), 100%)) {
    grid-template-columns: repeat(auto-fit, minmax(min(var(--size-xxs), 100%), 1fr));
  }
}

.frame-square {
  aspect-ratio: var(--ratio-square);
  overflow:hidden;
  display:flex;
  justify-content: center;
  align-items: center;

  > img {
    max-inline-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
  }

  > video {
    max-inline-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
  }
}
